	<script type="text/javascript" src="assets/js/jquery.1.11.3.min.js"></script>  	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.checkradios.min.js"></script>  
	<script type="text/javascript" src="assets/js/jquery.checkradios.js"></script>  
	<script type="text/javascript" src="assets/js/jquery.maskedinput.js"></script>  
	<script type="text/javascript" src="assets/js/script.js"></script>
	
 <!--   <script type="text/javascript" src="assets/js/multistep.min.js"></script>-->
	