<div id="step_3" class="rms-content-box ">
     <div class="rms-content-area">
        <div class="rms-content-title">
                <div class="leftside-title">
				<b> 
					<i class="fa fa-briefcase" aria-hidden="true"></i> Квитанция
				</b>
				</div>
            <div class="step-label">Шаг 3 - 4 </div>
           
        </div>
        <div class="rms-content-body"> 
		
		<div class="row">
				<!--
                <div class="col-xs-6" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inpt-form-group"> 
                               <i class="fa fa-handshake-o" aria-hidden="true"></i>
							   <label style="font-size: 14pt;margin-left: 5px;">Договор об участии</label>
							   <br><div id="contract" class="a_href">скачать</div>
                            </div>
							
                        </div>
                    </div>
					
                </div> 
				-->
				
				 <div class="col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inpt-form-group"> 
                               <i class="fa fa-file-text-o" aria-hidden="true"></i>
							   <label style="font-size: 14pt;margin-left: 5px;">Квитанция на оплату</label>
							   <br><div id="receipt" class="a_href">скачать</div>
                            </div>
                        </div>
                    </div>
                </div> 
				
         </div> 
		
		<br>
		<br>
		<br>
		<div class="row">
                        <div class="col-md-12">
						<div class="block_inline">
							<label class="for_checkbox">
							<span>Пожалуйста, скачайте сформированную квитанцию, оплатите ее и сканкопию отправьте на почту fbftest.strbsu@yandex.ru</span>
							</label>
						</div>
						</div>
		</div>
					
		 </div> 
    </div> 
</div>