<div id="step_1" class="rms-content-box ">
     <div class="rms-content-area">
        <div class="rms-content-title">
           <div class="leftside-title">
    			<b> 
    				<i class="fa fa-user" aria-hidden="true"></i> Информация о заказчике/плательщике
    			</b>
    		</div>
            <div class="step-label">Шаг 1 - 3 </div> 
        </div>
             <div class="rms-content-body"> 
            <div class="row">
                <div class="col-xs-6" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inpt-form-group"> 
                                <label for="fam_parent">Фамилия</label>
                            <div class="inpt-group">
                              <!--  <span class="inpt-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span> -->
                                <input type="text" name="fam_parent" id="fam_parent" class="inpt-control required" placeholder="Петров" value="Петров"> 
                            <span class="errors animated bounceInUp error-none">Пожалуйста, введите фамилию</span><!--error-none-->
    						</div>
                            </div>
                        </div>
                    </div>
    				
    				<div class="row">
                        <div class="col-md-12">
                            <div class="inpt-form-group"> 
                                <label for="name_parent">Имя</label>
                            <div class="inpt-group">
                             <!--   <span class="inpt-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span> -->
                                <input type="text" name="name_parent" id="name_parent" class="inpt-control required" placeholder="Иван" value="Иван"> 
                            <span class="errors animated bounceInUp error-none">Пожалуйста, введите имя</span><!--error-none-->
    						</div>
                            </div>
                        </div>
                    </div>
    				
    				<div class="row">
                        <div class="col-md-12">
                            <div class="inpt-form-group"> 
                                <label for="pat_parent">Отчество</label>
                            <div class="inpt-group">
                             <!--   <span class="inpt-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span> -->
                                <input type="text" name="pat_parent" id="pat_parent" class="inpt-control required" placeholder="Сергеевич" value="Сергеевич"> 
                            <span class="errors animated bounceInUp error-none">Пожалуйста, введите отчество</span><!--error-none-->
    						
    						</div>
                            </div>
                        </div>
                    </div>
    				

    				
                </div> 
    			
    			
    			 <div class="col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inpt-form-group"> 
                                <label for="fam">Адрес</label>
                            <div class="inpt-group">
                              <!--  <span class="inpt-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span> -->
                                <input type="text" name="adress" id="adress" class="inpt-control required" placeholder="Адрес" value="Адрес"> 
                            <span class="errors animated bounceInUp error-none">Пожалуйста, введите адрес</span><!--error-none-->
    						</div>
                            </div>
                        </div>
                    </div>
    				

    				<div class="row">
                        <div class="col-md-12">
    					<div class="col-xs-5" style="margin:0px;padding:0px;">
                            <div class="inpt-form-group"> 
                                <label for="pat">Паспорт</label>
                            <div class="inpt-group"> 
                             <input type="text" name="seriya" id="seriya" class="inpt-control required" placeholder="серия" style="width:65px;display:inline-block;padding-right:12px;" value="1221"> 
    						 <input type="text" name="nomer" id="nomer" class="inpt-control required" placeholder="номер" style="width:75px;display:inline-block;padding-right:12px;"  value="122451"> 
    						 <span class="errors animated bounceInUp error-none" style="display:block;">Введите серию <br>и номер паспорта</span><!--error-none-->
    						</div>
                            </div>
    					</div>	
    					
    					<div class="col-xs-7" style="margin:0px;padding:0px;">
                            <div class="inpt-form-group"> 
                                <label for="pat">Email</label>
                            <div class="inpt-group"> 
                             <input type="text" name="email" id="email" class="inpt-control required" placeholder="email" style="width:100%px;display:inline-block;padding-right:12px;" value="elmira.sharapova@yandex.ru"> 
    						 <span class="errors animated bounceInUp error-none" style="display:block;">Введите валидный email</span>								
    						</div>
                            </div>
    					</div>
                        </div>
                    </div>
    				
    				<!--
    				<div class="row">
                        <div class="col-md-12">
    					<div class="block_inline" style="pointer-events: none;">
    						<input type="checkbox" class="checkradios custom" checked />
    						<label class="for_checkbox">
    						<span>Нажимая кнопку "Далее" я соглашаюсь с <br><a href="#">условиями оферты</a></span>
    						</label>
    					</div>
    					</div>
    				</div>
    				-->
    				<div class="row">
                        <div class="col-md-12">
    					<div class="block_inline" style="pointer-events: none;">
    						<input type="checkbox" class="checkradios custom" checked/>
    						<label class="for_checkbox">
    						<span>Нажимая кнопку "Далее" я соглашаюсь на <br>
    						</span>
    						</label>
    					</div>
    					<a href="#" id="href_with_agreement" style="font-size: 13px;padding-left: 25px;margin-top: -5px;position: ABSOLUTE;"> обработку персональных данных</a>
    					</div>
    				</div>
    				
                </div> 
    			
            </div> 
        </div> 
    </div> 
    </div>