<div id="step_4" class="rms-content-box">  
    <div class="rms-content-area">
        <div class="rms-content-title">
                <div class="leftside-title">
				<b> 
					<i class="fa fa-user-secret" aria-hidden="true"></i> Логин и пароль
				</b>
				</div>
				<div class="step-label">Шаг 4 - 4 </div> 
        </div>
        <div class="rms-content-body"> 
            <div class="row">
			
                <div class="col-md-8">
                    <div class="row">
					
                        <div class="col-md-12">
						<p class="msg">Регистрация успешно завершена!</p>
                            <div class="desc-container" style="width:max-content;width: -moz-max-content;">
                                <div class="desc-table" >
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="desc-label">Логин</td>
                                                <td class="desc-val" id="log"></td>
                                            </tr>
                                            <tr>
                                                <td class="desc-label">Пароль</td>
                                                <td class="desc-val" id="pas"></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
					
		<br>
		<br>
		<br>
		<div class="row">
                        <div class="col-md-12">
						<div class="block_inline">
							<label class="for_checkbox">
							<p>Пожалуйста, сохраните логин и пароль для входа в систему прохождения тестов по олимпиаде</p>
							</label>
						</div>
						</div>
		</div>
                </div> 
            </div> 
        </div> 
    </div> 
</div>